# CMake temporary files
*.cmake
CMakeFiles
CMakeCache.txt
Makefile

# Binaries and symlinks
*.so
source/write-data
source/read-data

# debian build files
debian/*~
debian/buildroot/
debian/*.debhelper
debian/*.debhelper.log
debian/*.substvars
debian/serial-utils
install_manifest.txt
*.1
bin/deb/
build-stamp
configure-stamp
debian/files
